<!-- DISEÑO DEL FORMULARIO DE EDITAR O MODIFICAR -->


<div class="container" style="margin: 100px;">

    <div class="row">

        <div class="col-6 offset-3">
            <h4>Modificar los datos del Cliente</h4> 
            <form action="/admin/novedades/modificar" method="post">
                <input type="hidden" value="{{novedad.id}}" name="id">

                <!--debo adaptar el formulario de modificar para vincularlo con cada elemento de mi tabla de clientes-->
                
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" name="nombre" value="{{novedad.nombre}}"> <!-- puedo agregar luego placeholder-->
                </div>

                <div class="form-group">
                    <label for="">Profesion</label>
                    <input type="text" class="form-control" name="profesion" value="{{novedad.profesion}}">
                </div>

                <div class="form-group">
                    <label for="">Edad</label>
                    <input type="text" class="form-control" name="edad" value="{{novedad.edad}}">
                </div>

                <div class="form-group">
                    <label for="">Tipo de cliente</label>
                    <input type="text" class="form-control" name="tipo" value="{{novedad.tipo}}">
                </div>

                <div class="form-group">
                    <label for="">Mail de contacto</label>
                    <input type="text" class="form-control" name="mail" value="{{novedad.mail}}">
                </div>

                <div class="form-group">
                    <label for="">Telefono de contacto</label>
                    <input type="text" class="form-control" name="telefono" value="{{novedad.telefono}}">
                </div>
     
                <!-- 
                    <div class="form-group">
                        <label for="">Subtitulo</label>
                        <input type="text" class="form-control" name="subtitulo" value="{{novedad.subtitulo}}">
                    </div>

                    <div class="form-group">
                        <label for="">Cuerpo</label>
                        <textarea name="cuerpo" class="form-control"> {{novedad.cuerpo}} </textarea>
                    </div>
                -->

                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>

            {{#if error}}
                <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>

